{% extends 'base1.html' %}

{% block content %}
	<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
	    <div class="overlay"></div>
	    <div class="container">
	      <div class="row no-gutters slider-text align-items-end justify-content-center">
	        <div class="col-md-9 ftco-animate pb-5 text-center">
	          <h1 class="mb-3 bread">{{ post.title }}</h1>
	        </div>
	      </div>
	    </div>
	</section>

	<section class="ftco-section bg-light" data-section="blog">
	    <div class="container">
	        <div class="row justify-content-center mb-5 pb-5">
	            <div class="col-md-7 heading-section text-center ftco-animate">
	        </div>
	    </div>

				<div>
					<img src="/static/images/image_1.jpg" style="width: 100%; height: 50%;" alt="">
					<!--a href="post/" class="block-20" style="background-image: url('/static/images/image_1.jpg');"></a-->
				</div>
		<div class="card">
			<h3 class="card-header posttitle loader">{{ post.title }} &nbsp
				{% if post.published_date %}
					<div class="date postdate"></div>
				{% else %}
					<a class="btn btn-success" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
				{% endif %}
  			</h3>

  			<div class="card-block" style="margin-left:50px">
  		   		<br>
		   		<p class='postcontent'><h4>{{ post.text|safe|linebreaksbr }}</h4></p>
				{% if post.published_date %}
					<div class="date postdate">Posted on: {{ post.published_date }} </div>
				{% endif %}
				<br>
  			</div>
		</div>
		<hr>
		<br>
		<div class="container">
			  {% for comment in post.comments.all %}
				<div class="card w-50">
				  <div class="card-block" style="margin:30px ">
					<h3 class="card-title">{{ comment.text|safe|linebreaks }}</h3>
					<p class="card-text">
						<p>Posted by: <strong>{{ comment.author }}</strong></p>
						<p>Commented on: {{ comment.created_date }}</p>
					</p>
				  </div>
				</div>
				<br>
			  {% endfor %}
			</div>
		</div>
	</section>


{% endblock %}
