{% extends 'base1.html' %}

{% block content %}	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
	    <div class="overlay"></div>
	    <div class="container">
	      <div class="row no-gutters slider-text align-items-end justify-content-center">
	        <div class="col-md-9 ftco-animate pb-5 text-center">
	          <h1 class="mb-3 bread">Les nouvels de AS2FW</h1>
	          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
	        </div>
	      </div>
	    </div>
	</section>

	<section class="ftco-section bg-light" data-section="blog">
	    <div class="container">
	        <div class="row justify-content-center mb-5 pb-5">
	            <div class="col-md-7 heading-section text-center ftco-animate">
	            <h2 class="mb-4">Etre au courant de nos nouvels</h2>
	        </div>
	    </div>
		<div class="container-fluid">
			{% for post in post_list %}
			<div>
				<div style="float: left;" >
					<img src="/static/{{post.photo}}" style="width: 60%; height: 50%;" alt="">
					<!--a href="post/" class="block-20" style="background-image: url('/static/images/image_1.jpg');"></a-->
				</div>
				<div>
					<div class="d-flex align-items-center pt-2 mb-4 topp">
					{#la partie qui va se charger  de la selection et de la mise en place des news#}
						<div class="one mr-3">
							<span class="day">publier le: {{ post.published_date|date:"D M Y"}}</span>
						</div>
					</div>
					<h2 class="heading">{{ post.title }}</h2>
					<p>{{ post.text|safe|linebreaksbr }}</p>
					<div>
						<p class="mb-0"><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-secondary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
					</div>
				</div>

			</div>
			<hr>
			<hr>
			<br>
			<br>
			{% endfor %}
		</div>
	</section>

{% endblock %}
