<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Village Wonougba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="/static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/css/aos.css">

    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- la partie qui gere specialement le blog -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    {% block link %}

    {% endblock %}

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href=""><span>Wonougba</span></a>
          <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>

          <div class="collapse navbar-collapse" >
            <ul class="navbar-nav nav ml-auto">
              <li class="nav-item"><a href="#home" class="nav-link"><span>Home</span></a></li>
              <li class="nav-item"><a href="#about" class="nav-link"><span>About</span></a></li>
              <li class="nav-item"><a href="#galerie" class="nav-link"><span>Galerie</span></a></li>
              <li class="nav-item"><a href="#projet" class="nav-link"><span></span>Projects</a></li>
              <li class="nav-item"><a href="/post/#blog" class="nav-link"><span>Blog</span></a></li>
              <li class="nav-item"><a href="#contact" class="nav-link"><span>Contact</span></a></li>
              <li class="nav-item cta"><a href="/don/" class="nav-link">Faire un Don</a></li>
              <li class="nav-item cta"><a href="/inscription/" class="nav-link">S'inscrir au groupe</a></li>

            </ul>
          </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <!-- statrt footer -->
    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">AS2FW</h2>
              <p>ASSOCIATION SOLIDARITE FILLES ET FILS DE WONOUGBA .</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">

                <li><a href="#home" class="icon-long-arrow-right mr-2"><span>Home</span></a></li>
              <li><a href="#about" class="icon-long-arrow-right mr-2"><span>About</span></a></li>
              <li><a href="#galerie" class="icon-long-arrow-right mr-2"><span>Galerie</span></a></li>
              <li><a href="#projet" class="icon-long-arrow-right mr-2"><span></span>Projects</a></li>
              <li><a href="/post/#blog" class="icon-long-arrow-right mr-2"><span>Blog</span></a></li>
              <li><a href="#contact" class="icon-long-arrow-right mr-2"><span>Contact</span></a></li>
              <li class="nav-item cta"><a href="don/" class="icon-long-arrow-right mr-2">Faire un Don</a></li>
              <li class="nav-item cta"><a href="inscription/" class="icon-long-arrow-right mr-2">S'inscrir au groupe</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Avez vous des Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Avédzi Wessome, S/c B.P. 386 Lomé-Togo</span></li>
                  <li><a href="tel:92 48 04 37"><span class="icon icon-phone"></span><span class="text">(228)92 48 04 37 / 90 95 65 94</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.by <a href="#" target="_blank">QuIn-Tech</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- end footer -->

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/jquery.stellar.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/jquery.animateNumber.min.js"></script>
    <script src="/static/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/static/js/google-map.js"></script>
    <script src="/static/js/main.js"></script>  
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
  </body>
</html>